@import "../variables";

.wrapper {
  min-height: 103px;
  background-color: #f5f5f5;
  transition:
    height 300ms ease,
    background-color 600ms ease;
  overflow: hidden;
}

.item {
  padding: 36px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    opacity 300ms ease,
    background-color 300ms ease,
    border 300ms ease;
  border: 1px solid transparent;
}

.item:hover {
  opacity: 0.6;
}

.root {
  transition: all 300ms ease;
  background-color: #fff;
  border: 1px solid #000;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-right: 12px;
}

.title svg {
  margin-right: 12px;
  width: 28px;
}

.title h1 {
  width: calc(100% - 80px);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #000;
  margin: 0;
}

.text {
  word-break: break-all;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 300ms ease;
}

.itemIcon {
  width: 35px;
  height: 35px;
}

.content {
  padding: 4px 36px 36px;
}

.contentRoot {
  padding: 16px 0;
  background-color: #fff;
}

.iconDeg {
  transform: rotate(45deg);
}

@media (max-width: 350px) {
  .itemIcon {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 640px) {
  .item {
    padding: 16px;
    min-height: 103px;
    height: auto;
  }

  .itemIcon {
    width: 25px;
    height: 25px;
  }

  .content {
    padding: 24px 16px 36px;
  }
}
