.popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
}

.wrapper {
  position: absolute;
  background-color: #ffffff;
  top: 40px;
  left: 40px;
  padding: 10px 10px 20px;
  border: 1px solid #000000;
}

.wrapperSecond {
  position: absolute;
  background-color: #ffffff;
  top: 40px;
  right: 40px;
  padding: 10px 10px 20px;
  border: 1px solid #000000;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-top: 15px;
}

.row {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(25% - 40px);
  min-width: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 20px;
}

.left {
  color: rgba(0, 0, 0, 0.6);
}

.right {
  font-weight: 500;
}

.element {
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
}

.elements {
  width: 300px;
}

.background {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebebeb;
}
