@import "../variables";

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-y: auto;
  list-style: none;
  scrollbar-face-color: rgba(196, 196, 196, 0.5);
  scrollbar-arrow-color: #f5f5f5;
  scrollbar-track-color: #f5f5f5;
  scrollbar-shadow-color: rgba(196, 196, 196, 0.5);
  scrollbar-highlight-color: rgba(196, 196, 196, 0.5);
  scrollbar-3dlight-color: rgba(196, 196, 196, 0.5);
  scrollbar-darkshadow-color: rgba(196, 196, 196, 0.5);
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.header p:nth-child(n) {
  padding: 20px 20px;
}

.contentLabel {
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.6);
  text-align: left !important;
}

.close {
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
}

.close p {
  font-weight: 500;
}

.close:hover {
  opacity: 0.6;
}

.close:active {
  opacity: 1;
}

.container::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  background-color: #f5f5f5;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 2px;
}
